/* @theme "~/.config/rofi/catpuccin/launcher.rasi" */
@theme "~/.config/rofi/dracula/config.rasi"

configuration {
  modes: [window,run,drun];
  /*fixed-num-lines: false; */
}

window {
  height: 12em;
}
